[submodule "vendor/sol2"]
	path = vendor/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "vendor/json-rpc-cxx"]
	path = vendor/json-rpc-cxx
	url = https://github.com/jsonrpcx/json-rpc-cxx.git
